# =========================
# Xcode
# =========================
DerivedData/
build/

# Xcode user-specific data (IGNORE AT ALL DEPTHS)
**/xcuserdata/
**/*.xcuserstate

# Xcode workspace / project user data
**/*.xcodeproj/project.xcworkspace/
**/*.xcworkspace/xcuserdata/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Swift Package Manager
# =========================
.build/
Package.resolved

# =========================
# Certificates / Secrets
# =========================
*.p12
*.cer
*.mobileprovision
